{
    "parser": "babel-eslint",
    "extends": [
        "gitbook"
    ],
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "node/file-extension-in-import": [ "error", "always" ]
    },
    "env": {
         "jest": true
    }
}
